In [1]:
# Imports
import pandas as pd
import numpy as np
import scipy.stats as stats

# Deputados Estaduais 2022

In [2]:
# Fonte: https://sig.tse.jus.br/ords/dwapr/r/seai/sig-eleicao-resultados/cor-ra%C3%A7a?p10_menu=GENERO&clear=RP&session=314379154616042

In [3]:
df_votacao_candidato = pd.read_csv(r'cruzamento-cand-cor-raca-genero-uf_deputado_estadual_2022_ce.csv', encoding='latin-1', sep=';')

In [4]:
df_votacao_candidato.shape

(11, 11)

In [5]:
df_votacao_candidato.columns

Index(['sg_uf', 'ds_cor_raca', 'cd_cor_raca', 'ds_sexo', 'cd_sexo',
       'qt_candidato', 'qt_cand_eleitos', 'qt_cand_turno_2',
       'qt_cand_nao_eleitos', 'qt_cand_suplentes', 'qt_cand_nao_informados'],
      dtype='object')

In [6]:
df_votacao_candidato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sg_uf                   11 non-null     object
 1   ds_cor_raca             11 non-null     object
 2   cd_cor_raca             11 non-null     int64
 3   ds_sexo                 11 non-null     object
 4   cd_sexo                 11 non-null     int64
 5   qt_candidato            11 non-null     object
 6   qt_cand_eleitos         11 non-null     object
 7   qt_cand_turno_2         11 non-null     object
 8   qt_cand_nao_eleitos     11 non-null     object
 9   qt_cand_suplentes       11 non-null     object
 10  qt_cand_nao_informados  11 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.1+ KB

In [7]:
# mudar tipo de dados de alguns valores com separador de casa decimal de vírgula para ponto para poder aplicar conversão de tipo de dado
df_votacao_candidato["qt_candidato"] = df_votacao_candidato["qt_candidato"].apply(lambda x : str(x).replace(",", "."))
df_votacao_candidato["qt_cand_nao_informados"] = df_votacao_candidato["qt_cand_nao_informados"].apply(lambda x : str(x).replace(",", "."))
df_votacao_candidato["qt_cand_eleitos"] = df_votacao_candidato["qt_cand_eleitos"].apply(lambda x : str(x).replace(",", "."))

In [8]:
df_votacao_candidato

,sg_uf,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
0,CE,Amarela,4,Feminino,4,1.0,0.0,"0,0","0,0","1,0",0.0
1,CE,Amarela,4,Masculino,2,1.0,0.0,"0,0","1,0","0,0",0.0
2,CE,Branca,1,Feminino,4,76.0,7.0,"0,0","14,0","49,0",6.0
3,CE,Branca,1,Masculino,2,148.0,24.0,"0,0","23,0","92,0",9.0
4,CE,Indígena,5,Feminino,4,1.0,0.0,"0,0","0,0","1,0",0.0
5,CE,Indígena,5,Masculino,2,1.0,0.0,"0,0","0,0","1,0",0.0
6,CE,Não divulgável,-4,Não divulgável,-4,1.0,0.0,"0,0","0,0","0,0",1.0
7,CE,Parda,3,Feminino,4,89.0,2.0,"0,0","22,0","55,0",10.0
8,CE,Parda,3,Masculino,2,203.0,12.0,"0,0","45,0","125,0",21.0
9,CE,Preta,2,Feminino,4,28.0,0.0,"0,0","3,0","22,0",3.0
10,CE,Preta,2,Masculino,2,24.0,1.0,"0,0","9,0","13,0",1.0

In [9]:
# Converter campos de números para tipo inteiro ou decimal para aplicar operações:
# Example 1: Convert "Fee" from String to int
#df = df.astype({'Fee':'int'})
df_votacao_candidato = df_votacao_candidato.astype({"cd_cor_raca": "int"})
df_votacao_candidato = df_votacao_candidato.astype({"cd_sexo": "int"})
df_votacao_candidato = df_votacao_candidato.astype({"qt_candidato": "float"})
df_votacao_candidato = df_votacao_candidato.astype({"qt_cand_nao_informados": "float"})
df_votacao_candidato = df_votacao_candidato.astype({"qt_cand_eleitos": "float"})

In [10]:
df_votacao_candidato

,sg_uf,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
0,CE,Amarela,4,Feminino,4,1.0,0.0,"0,0","0,0","1,0",0.0
1,CE,Amarela,4,Masculino,2,1.0,0.0,"0,0","1,0","0,0",0.0
2,CE,Branca,1,Feminino,4,76.0,7.0,"0,0","14,0","49,0",6.0
3,CE,Branca,1,Masculino,2,148.0,24.0,"0,0","23,0","92,0",9.0
4,CE,Indígena,5,Feminino,4,1.0,0.0,"0,0","0,0","1,0",0.0
5,CE,Indígena,5,Masculino,2,1.0,0.0,"0,0","0,0","1,0",0.0
6,CE,Não divulgável,-4,Não divulgável,-4,1.0,0.0,"0,0","0,0","0,0",1.0
7,CE,Parda,3,Feminino,4,89.0,2.0,"0,0","22,0","55,0",10.0
8,CE,Parda,3,Masculino,2,203.0,12.0,"0,0","45,0","125,0",21.0
9,CE,Preta,2,Feminino,4,28.0,0.0,"0,0","3,0","22,0",3.0
10,CE,Preta,2,Masculino,2,24.0,1.0,"0,0","9,0","13,0",1.0

# Contagens:

In [11]:
df_votacao_candidato.describe()

,cd_cor_raca,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_nao_informados
count,11.000000,11.000000,11.000000,11.000000,11.000000
mean,2.363636,2.363636,52.090909,4.181818,4.636364
std,2.540580,2.335497,69.517558,7.626509,6.576819
min,-4.000000,-4.000000,1.000000,0.000000,0.000000
25%,1.500000,2.000000,1.000000,0.000000,0.000000
50%,3.000000,2.000000,24.000000,0.000000,1.000000
75%,4.000000,4.000000,82.500000,4.500000,7.500000
max,5.000000,4.000000,203.000000,24.000000,21.000000

### 2 - Verifique quantos são, de qual gênero (Masculino, feminino, outros) das duas Casas
Legislativas (Assembleia Legislativa e Câmara Municipal).

In [12]:
# Quantidade Feminina informados. Eleitas:
print("Quantidade femeninas eleitas:")
df_femininas = df_votacao_candidato[df_votacao_candidato.ds_sexo == "Feminino"]
df_femininas = df_femininas[df_femininas.qt_cand_eleitos > 0]
df_femininas

Quantidade femeninas eleitas:

,sg_uf,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
2,CE,Branca,1,Feminino,4,76.0,7.0,"0,0","14,0","49,0",6.0
7,CE,Parda,3,Feminino,4,89.0,2.0,"0,0","22,0","55,0",10.0

In [13]:
df_femininas.qt_cand_eleitos.sum()

9.0

In [14]:
# Quantidade Feminina informados. Eleitas:
print("Quantidade masculino eleitos:")
df_masculino = df_votacao_candidato[df_votacao_candidato.ds_sexo == "Masculino"]
df_masculino = df_masculino[df_masculino.qt_cand_eleitos > 0]
df_masculino

Quantidade masculino eleitos:

,sg_uf,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
3,CE,Branca,1,Masculino,2,148.0,24.0,"0,0","23,0","92,0",9.0
8,CE,Parda,3,Masculino,2,203.0,12.0,"0,0","45,0","125,0",21.0
10,CE,Preta,2,Masculino,2,24.0,1.0,"0,0","9,0","13,0",1.0

In [15]:
df_masculino.qt_cand_eleitos.sum()

37.0

### 3 - Sobre a composição Étnica. Quantifique os que afirmam ser brancos, amarelos (de origem asiática), negros ou pardos;

In [16]:
df_votacao_candidato

,sg_uf,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
0,CE,Amarela,4,Feminino,4,1.0,0.0,"0,0","0,0","1,0",0.0
1,CE,Amarela,4,Masculino,2,1.0,0.0,"0,0","1,0","0,0",0.0
2,CE,Branca,1,Feminino,4,76.0,7.0,"0,0","14,0","49,0",6.0
3,CE,Branca,1,Masculino,2,148.0,24.0,"0,0","23,0","92,0",9.0
4,CE,Indígena,5,Feminino,4,1.0,0.0,"0,0","0,0","1,0",0.0
5,CE,Indígena,5,Masculino,2,1.0,0.0,"0,0","0,0","1,0",0.0
6,CE,Não divulgável,-4,Não divulgável,-4,1.0,0.0,"0,0","0,0","0,0",1.0
7,CE,Parda,3,Feminino,4,89.0,2.0,"0,0","22,0","55,0",10.0
8,CE,Parda,3,Masculino,2,203.0,12.0,"0,0","45,0","125,0",21.0
9,CE,Preta,2,Feminino,4,28.0,0.0,"0,0","3,0","22,0",3.0
10,CE,Preta,2,Masculino,2,24.0,1.0,"0,0","9,0","13,0",1.0

In [17]:
# criando os data frames para cada raça para fazer a contagem
df_raca_amarela = df_votacao_candidato[df_votacao_candidato.ds_cor_raca == "Amarela"]
df_raca_branca = df_votacao_candidato[df_votacao_candidato.ds_cor_raca == "Branca"]
df_raca_indigena = df_votacao_candidato[df_votacao_candidato.ds_cor_raca == "Indígena"]
df_raca_parda = df_votacao_candidato[df_votacao_candidato.ds_cor_raca == "Parda"]
df_raca_preta = df_votacao_candidato[df_votacao_candidato.ds_cor_raca == "Preta"]
df_raca_nao_divulgado = df_votacao_candidato[df_votacao_candidato.ds_cor_raca == "Não divulgável"]

In [18]:
# quantidade amarela eleita:
print("Quantidade raça amarela eleita:")
df_raca_amarela.qt_cand_eleitos.sum()

Quantidade raça amarela eleita:

0.0

In [19]:
# quantidade branca eleita:
print("Quantidade raça branca eleita:")
df_raca_branca.qt_cand_eleitos.sum()

Quantidade raça branca eleita:

31.0

In [20]:
# quantidade branca eleita:
print("Quantidade raça indígena eleita:")
df_raca_indigena.qt_cand_eleitos.sum()

Quantidade raça indígena eleita:

0.0

In [21]:
# quantidade parda eleita:
print("Quantidade raça parda eleita:")
df_raca_parda.qt_cand_eleitos.sum()

Quantidade raça parda eleita:

14.0

In [22]:
# quantidade preta eleita:
print("Quantidade raça preta eleita:")
df_raca_preta.qt_cand_eleitos.sum()

Quantidade raça preta eleita:

1.0

In [23]:
# quantidade náo dvulgada eleita:
print("Quantidade raça não divulgada eleita:")
df_raca_nao_divulgado.qt_cand_eleitos.sum()

Quantidade raça não divulgada eleita:

0.0

# Vereadores 2020

In [24]:
df_votacao_candidato_vereadores = pd.read_csv(r'cruzamento-cand-cor-raca-genero-municipio_vereador_2020_ce_fortaleza.csv', encoding='latin-1', sep=';')

In [25]:
# Fontes: 
# https://sapl.fortaleza.ce.leg.br/parlamentar/
# https://sig.tse.jus.br/ords/dwapr/r/seai/sig-eleicao-resultados/cor-ra%C3%A7a?p0_cargo=Vereador&session=201821172365664

In [26]:
df_votacao_candidato_vereadores.shape

(1077, 12)

In [27]:
df_votacao_candidato_vereadores.columns

Index(['sg_uf', 'nm_ue', 'ds_cor_raca', 'cd_cor_raca', 'ds_sexo', 'cd_sexo',
       'qt_candidato', 'qt_cand_eleitos', 'qt_cand_turno_2',
       'qt_cand_nao_eleitos', 'qt_cand_suplentes', 'qt_cand_nao_informados'],
      dtype='object')

In [28]:
df_votacao_candidato_vereadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1077 entries, 0 to 1076
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sg_uf                   1077 non-null   object
 1   nm_ue                   1077 non-null   object
 2   ds_cor_raca             1077 non-null   object
 3   cd_cor_raca             1077 non-null   int64
 4   ds_sexo                 1077 non-null   object
 5   cd_sexo                 1077 non-null   int64
 6   qt_candidato            1077 non-null   object
 7   qt_cand_eleitos         1077 non-null   object
 8   qt_cand_turno_2         1077 non-null   object
 9   qt_cand_nao_eleitos     1077 non-null   object
 10  qt_cand_suplentes       1077 non-null   object
 11  qt_cand_nao_informados  1077 non-null   object
dtypes: int64(2), object(10)
memory usage: 101.1+ KB

In [29]:
df_votacao_candidato_vereadores

,sg_uf,nm_ue,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
0,CE,ABAIARA,Amarela,4,Masculino,2,"1,0","0,0","0,0","0,0","1,0","0,0"
1,CE,ABAIARA,Branca,1,Feminino,4,"8,0","1,0","0,0","0,0","7,0","0,0"
2,CE,ABAIARA,Branca,1,Masculino,2,"11,0","6,0","0,0","0,0","5,0","0,0"
3,CE,ABAIARA,Parda,3,Feminino,4,"2,0","0,0","0,0","0,0","2,0","0,0"
4,CE,ABAIARA,Parda,3,Masculino,2,"4,0","1,0","0,0","0,0","3,0","0,0"
...,...,...,...,...,...,...,...,...,...,...,...,...
1072,CE,VÁRZEA ALEGRE,Branca,1,Masculino,2,"16,0","5,0","0,0","2,0","8,0","1,0"
1073,CE,VÁRZEA ALEGRE,Parda,3,Feminino,4,"6,0","1,0","0,0","0,0","5,0","0,0"
1074,CE,VÁRZEA ALEGRE,Parda,3,Masculino,2,"16,0","3,0","0,0","2,0","11,0","0,0"
1075,CE,VÁRZEA ALEGRE,Preta,2,Feminino,4,"2,0","0,0","0,0","1,0","1,0","0,0"
1076,CE,VÁRZEA ALEGRE,Preta,2,Masculino,2,"2,0","1,0","0,0","0,0","1,0","0,0"

In [30]:
# extraindo e criando data frame apenas para Fortaleza:
df_votacao_candidato_vereadores_fortaleza = df_votacao_candidato_vereadores[df_votacao_candidato_vereadores.nm_ue == "FORTALEZA"]

In [31]:
df_votacao_candidato_vereadores_fortaleza

,sg_uf,nm_ue,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
345,CE,FORTALEZA,Amarela,4,Feminino,4,"2,0","0,0","0,0","2,0","0,0","0,0"
346,CE,FORTALEZA,Amarela,4,Masculino,2,"2,0","0,0","0,0","2,0","0,0","0,0"
347,CE,FORTALEZA,Branca,1,Feminino,4,"144,0","2,0","0,0","38,0","98,0","6,0"
348,CE,FORTALEZA,Branca,1,Masculino,2,"259,0","16,0","0,0","72,0","162,0","9,0"
349,CE,FORTALEZA,Indígena,5,Feminino,4,"2,0","0,0","0,0","0,0","1,0","1,0"
350,CE,FORTALEZA,Não Informado,6,Feminino,4,"2,0","0,0","0,0","2,0","0,0","0,0"
351,CE,FORTALEZA,Não Informado,6,Masculino,2,"1,0","0,0","0,0","1,0","0,0","0,0"
352,CE,FORTALEZA,Parda,3,Feminino,4,"232,0","5,0","0,0","88,0","133,0","6,0"
353,CE,FORTALEZA,Parda,3,Masculino,2,"588,0","18,0","0,0","201,0","353,0","16,0"
354,CE,FORTALEZA,Preta,2,Feminino,4,"55,0","2,0","0,0","19,0","33,0","1,0"
355,CE,FORTALEZA,Preta,2,Masculino,2,"73,0","0,0","0,0","25,0","46,0","2,0"

In [32]:
#  mudar tipo de dados de alguns valores com separador de casa decimal de vírgula para ponto para poder aplicar 
# conversão de tipo de dado
df_votacao_candidato_vereadores_fortaleza["qt_cand_eleitos"] = df_votacao_candidato_vereadores_fortaleza["qt_cand_eleitos"].apply(
    lambda x : str(x).replace(",", ".")
)
df_votacao_candidato_vereadores_fortaleza["qt_cand_nao_eleitos"] = df_votacao_candidato_vereadores_fortaleza["qt_cand_nao_eleitos"].apply(
    lambda x : str(x).replace(",", ".")
)

C:\Users\Daniel\AppData\Local\Temp\ipykernel_21168\1603462958.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_votacao_candidato_vereadores_fortaleza["qt_cand_eleitos"] = df_votacao_candidato_vereadores_fortaleza["qt_cand_eleitos"].apply(
C:\Users\Daniel\AppData\Local\Temp\ipykernel_21168\1603462958.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_votacao_candidato_vereadores_fortaleza["qt_cand_nao_eleitos"] = df_votacao_candidato_vereadores_fortaleza["qt_cand_nao_eleitos"].apply(

In [33]:
df_votacao_candidato_vereadores_fortaleza

,sg_uf,nm_ue,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
345,CE,FORTALEZA,Amarela,4,Feminino,4,"2,0",0.0,"0,0",2.0,"0,0","0,0"
346,CE,FORTALEZA,Amarela,4,Masculino,2,"2,0",0.0,"0,0",2.0,"0,0","0,0"
347,CE,FORTALEZA,Branca,1,Feminino,4,"144,0",2.0,"0,0",38.0,"98,0","6,0"
348,CE,FORTALEZA,Branca,1,Masculino,2,"259,0",16.0,"0,0",72.0,"162,0","9,0"
349,CE,FORTALEZA,Indígena,5,Feminino,4,"2,0",0.0,"0,0",0.0,"1,0","1,0"
350,CE,FORTALEZA,Não Informado,6,Feminino,4,"2,0",0.0,"0,0",2.0,"0,0","0,0"
351,CE,FORTALEZA,Não Informado,6,Masculino,2,"1,0",0.0,"0,0",1.0,"0,0","0,0"
352,CE,FORTALEZA,Parda,3,Feminino,4,"232,0",5.0,"0,0",88.0,"133,0","6,0"
353,CE,FORTALEZA,Parda,3,Masculino,2,"588,0",18.0,"0,0",201.0,"353,0","16,0"
354,CE,FORTALEZA,Preta,2,Feminino,4,"55,0",2.0,"0,0",19.0,"33,0","1,0"
355,CE,FORTALEZA,Preta,2,Masculino,2,"73,0",0.0,"0,0",25.0,"46,0","2,0"

In [34]:
# Converter campos de números para tipo inteiro ou decimal para aplicar operações:
# Example 1: Convert "Fee" from String to int
#df = df.astype({'Fee':'int'})
df_votacao_candidato_vereadores_fortaleza = df_votacao_candidato_vereadores_fortaleza.astype({"qt_cand_eleitos": "float"})
df_votacao_candidato_vereadores_fortaleza = df_votacao_candidato_vereadores_fortaleza.astype({"qt_cand_nao_eleitos": "float"})

In [35]:
df_votacao_candidato_vereadores_fortaleza.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 345 to 355
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sg_uf                   11 non-null     object
 1   nm_ue                   11 non-null     object
 2   ds_cor_raca             11 non-null     object
 3   cd_cor_raca             11 non-null     int64
 4   ds_sexo                 11 non-null     object
 5   cd_sexo                 11 non-null     int64
 6   qt_candidato            11 non-null     object
 7   qt_cand_eleitos         11 non-null     float64
 8   qt_cand_turno_2         11 non-null     object
 9   qt_cand_nao_eleitos     11 non-null     float64
 10  qt_cand_suplentes       11 non-null     object
 11  qt_cand_nao_informados  11 non-null     object
dtypes: float64(2), int64(2), object(8)
memory usage: 1.1+ KB

### 2 - Verifique quantos são, de qual gênero (Masculino, feminino, outros)

In [36]:
# contagem de vereadoras mulheres
df_vereadoras_femininas = df_votacao_candidato_vereadores_fortaleza[df_votacao_candidato_vereadores_fortaleza.ds_sexo == "Feminino"]
df_vereadoras_femininas

,sg_uf,nm_ue,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
345,CE,FORTALEZA,Amarela,4,Feminino,4,"2,0",0.0,"0,0",2.0,"0,0","0,0"
347,CE,FORTALEZA,Branca,1,Feminino,4,"144,0",2.0,"0,0",38.0,"98,0","6,0"
349,CE,FORTALEZA,Indígena,5,Feminino,4,"2,0",0.0,"0,0",0.0,"1,0","1,0"
350,CE,FORTALEZA,Não Informado,6,Feminino,4,"2,0",0.0,"0,0",2.0,"0,0","0,0"
352,CE,FORTALEZA,Parda,3,Feminino,4,"232,0",5.0,"0,0",88.0,"133,0","6,0"
354,CE,FORTALEZA,Preta,2,Feminino,4,"55,0",2.0,"0,0",19.0,"33,0","1,0"

In [37]:
df_vereadoras_femininas.qt_cand_eleitos.sum()

9.0

In [39]:
#contagem de vereadores homens
df_vereadores_masculinos_eleitos = df_votacao_candidato_vereadores_fortaleza[df_votacao_candidato_vereadores_fortaleza.ds_sexo == "Masculino"]
df_vereadores_masculinos_eleitos

,sg_uf,nm_ue,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
346,CE,FORTALEZA,Amarela,4,Masculino,2,"2,0",0.0,"0,0",2.0,"0,0","0,0"
348,CE,FORTALEZA,Branca,1,Masculino,2,"259,0",16.0,"0,0",72.0,"162,0","9,0"
351,CE,FORTALEZA,Não Informado,6,Masculino,2,"1,0",0.0,"0,0",1.0,"0,0","0,0"
353,CE,FORTALEZA,Parda,3,Masculino,2,"588,0",18.0,"0,0",201.0,"353,0","16,0"
355,CE,FORTALEZA,Preta,2,Masculino,2,"73,0",0.0,"0,0",25.0,"46,0","2,0"

In [41]:
df_vereadores_masculinos_eleitos.qt_cand_eleitos.sum()

34.0

### 3. Sobre a composição Étnica. Quantifique os que afirmam ser brancos, amarelos (deorigem asiática), negros ou pardos;

In [42]:
df_votacao_candidato_vereadores_fortaleza

,sg_uf,nm_ue,ds_cor_raca,cd_cor_raca,ds_sexo,cd_sexo,qt_candidato,qt_cand_eleitos,qt_cand_turno_2,qt_cand_nao_eleitos,qt_cand_suplentes,qt_cand_nao_informados
345,CE,FORTALEZA,Amarela,4,Feminino,4,"2,0",0.0,"0,0",2.0,"0,0","0,0"
346,CE,FORTALEZA,Amarela,4,Masculino,2,"2,0",0.0,"0,0",2.0,"0,0","0,0"
347,CE,FORTALEZA,Branca,1,Feminino,4,"144,0",2.0,"0,0",38.0,"98,0","6,0"
348,CE,FORTALEZA,Branca,1,Masculino,2,"259,0",16.0,"0,0",72.0,"162,0","9,0"
349,CE,FORTALEZA,Indígena,5,Feminino,4,"2,0",0.0,"0,0",0.0,"1,0","1,0"
350,CE,FORTALEZA,Não Informado,6,Feminino,4,"2,0",0.0,"0,0",2.0,"0,0","0,0"
351,CE,FORTALEZA,Não Informado,6,Masculino,2,"1,0",0.0,"0,0",1.0,"0,0","0,0"
352,CE,FORTALEZA,Parda,3,Feminino,4,"232,0",5.0,"0,0",88.0,"133,0","6,0"
353,CE,FORTALEZA,Parda,3,Masculino,2,"588,0",18.0,"0,0",201.0,"353,0","16,0"
354,CE,FORTALEZA,Preta,2,Feminino,4,"55,0",2.0,"0,0",19.0,"33,0","1,0"
355,CE,FORTALEZA,Preta,2,Masculino,2,"73,0",0.0,"0,0",25.0,"46,0","2,0"

In [43]:
df_votacao_candidato_vereadores_fortaleza.ds_cor_raca.unique()

array(['Amarela', 'Branca', 'Indígena', 'Não Informado', 'Parda', 'Preta'],
      dtype=object)

In [51]:
# criando os data frames para cada raça para fazer a contagem
df_raca_amarela_vereadores = df_votacao_candidato_vereadores_fortaleza[df_votacao_candidato_vereadores_fortaleza.ds_cor_raca == "Amarela"]
df_raca_brancos_vereadores = df_votacao_candidato_vereadores_fortaleza[df_votacao_candidato_vereadores_fortaleza.ds_cor_raca == "Branca"]
df_raca_indigenas_vereadores = df_votacao_candidato_vereadores_fortaleza[df_votacao_candidato_vereadores_fortaleza.ds_cor_raca == "Indígena"]
df_raca_pardos_vereadores = df_votacao_candidato_vereadores_fortaleza[df_votacao_candidato_vereadores_fortaleza.ds_cor_raca == "Parda"]
df_raca_pretos_vereadores = df_votacao_candidato_vereadores_fortaleza[df_votacao_candidato_vereadores_fortaleza.ds_cor_raca == "Preta"]
df_raca_nao_divulgado_vereadores = df_votacao_candidato_vereadores_fortaleza[df_votacao_candidato_vereadores_fortaleza.ds_cor_raca == "Não Informado"]

In [52]:
#Quantidade amarelos eleitos:
df_raca_amarela_vereadores.qt_cand_eleitos.sum()

0.0

In [53]:
#Quantidade brancos eleitos:
df_raca_brancos_vereadores.qt_cand_eleitos.sum()

18.0

In [54]:
#Quantidade indíegenas eleitos:
df_raca_indigenas_vereadores.qt_cand_eleitos.sum()

0.0

In [55]:
#Quantidade pardos eleitos:
df_raca_pardos_vereadores.qt_cand_eleitos.sum()

23.0

In [56]:
#Quantidade pretos eleitos:
df_raca_pretos_vereadores.qt_cand_eleitos.sum()

2.0

In [57]:
#Quantidade pretos eleitos:
df_raca_nao_divulgado_vereadores.qt_cand_eleitos.sum()

0.0